/***
 *    ██████╗ ███████╗███████╗████████╗ ██████╗ ██████╗ ███████╗
 *    ██╔══██╗██╔════╝██╔════╝╚══██╔══╝██╔═══██╗██╔══██╗██╔════╝
 *    ██████╔╝█████╗  ███████╗   ██║   ██║   ██║██████╔╝█████╗
 *    ██╔══██╗██╔══╝  ╚════██║   ██║   ██║   ██║██╔══██╗██╔══╝
 *    ██║  ██║███████╗███████║   ██║   ╚██████╔╝██║  ██║███████╗
 *    ╚═╝  ╚═╝╚══════╝╚══════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *
 *    ███████╗ ██████╗ ███╗   ███╗███████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔════╝
 *    ███████╗██║   ██║██╔████╔██║█████╗
 *    ╚════██║██║   ██║██║╚██╔╝██║██╔══╝
 *    ███████║╚██████╔╝██║ ╚═╝ ██║███████╗
 *    ╚══════╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
 *
 *    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
 *    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
 *    ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
 *    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
 *    ███████║   ██║      ██║   ███████╗███████╗███████║
 *    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
 *
 *
 *
 * Restore elements to their default values based on https://www.w3schools.com/cssref/css_default_values.asp
 */
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}
